* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/dogWallpaper.png);
}

section {
    display: flex;
    .landingPad {
        background: white;
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
}

form {
    background: white;
    width: 50%;
    align-items: center;
    justify-items: center;
    padding: 5%;
    fieldset {
        width: 100%;
    }
}





