* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/dogWallpaper.png);
}

section {
    display: flex;
}

form {
    background: darkgray;
    width: 50%;
    align-items: center;
    justify-items: center;
}