* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/dogWallpaper.png);
}

h1 {
    font-family: 'Lobster',
    cursive;
    text-align: center;
    font-size: 4em;
}

h2 , p {
    font-family: 'Roboto',
    sans-serif;
    text-align: center;
    margin: 4% 0;
}



section {
    display: flex;
    justify-content: center;
    .landingPad {
        background: white;
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
}

form {
    background: white;
    width: 65%;
    padding: 5%;
    margin-top: 5%;
    .fas {
        color: darkorange;
    }
    fieldset {
        width: 100%;
        .formWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            width: 100%;
        }
        .dogName {
            width: 60%;
        }
    }
}





